extends layout

block content
  div(id="threadId" tId=threadId)
  div(class="container")
    h1=threadname
    h6 Posted #{date}
    h4=message
    div
      div(class="card-panel")
        textarea(class="materialize-textarea" readonly)=description
        h4 Code
        pre
          code=code
    hr

    div
      include comments.pug
        //each comment in comments 
          div(class="card-panel")
            textarea(class="materialize-textarea" id="text" name="text" form="comment-form" readonly) comment.text
      //div(id="error" class="card-panel")
      hr
      include addComment.pug

  script(src="/js/thread.js")


